.Select {
    margin-bottom: 15px;
}

.Select label {
    display: block;
    margin: 0 0 3px 0;
    padding: 0;
    font-weight: bold;
}

.Select select {
    display: block;
    width: 100%;
    height: 29px;
    margin: 0;
    border: 1px solid #bebebe;
    transition: all .3s ease-in-out;
}