.Loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.Loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: Loader 1.2s infinite;
}
.center {
    text-align: center;
}
@keyframes Loader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
