.Button {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0,0,0,.3);
}

.Button:disabled {
    color: #000;
    background-color: #ccc;
    cursor: not-allowed;
}

.primary {
    color: #fff;
    background: #2884f6;
}

.success {
    background: rgba(161,240,69,1);
}

.error {
    background: rgba(240,87,108,1);
}
