.AnswerItem {
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.AnswerItem:hover {
    background: rgba(255,255,255,.2);
    transition: background ease-in-out .1s
}

.AnswerItem.success {
    background: rgba(161,240,69,.7);
}

.AnswerItem.error {
    background: rgba(240,87,108,.7);
}