.Input {
    margin-bottom: 15px;
}

.Input label {
    display: block;
    margin-bottom: 3px;
    padding: 0;
    font-weight: bold;
}

.Input input {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    padding: 7px;
    border: 1px solid #bebebe;
    transition: all .3s ease-in-out
}

.Input span {
    font-size: 12px;
    font-weight: bold;
    color: #f01f30;
}

.Input.invalid label {
    color: #f01f30;
}