.Auth {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.Auth > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.Auth h1 {
    text-align: center;
    color: #ffffff;
}

.AuthForm {
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    border-radius: 5px;
    background: #eeeeee;
}